body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

button {
    font-family: Roboto, sans-serif;
    background: #00AFDB;
    border: none;
    outline: none;
}

.life-content_btn:hover,
.life-content_btn:focus,
.represent-content_btn:hover,
.represent-content_btn:focus,
.implement-content_btn:hover,
.implement-content_btn:focus,
.download-btn_content:hover,
.download-btn_content:focus {
    background: #02254a;
    animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper main {
    width: 100%;
    position: relative;
    background: #FFFFFF;
}

.wrapper main .life {
    background: url("assets/img/bg-image.png");
    background-size: cover;
    height: 744px;
    width: 100%;
    position: relative;
}

.wrapper main .life header {
    width: 100%;
}

.wrapper main .life header .header-nav {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper main .life header .header-nav .header-nav_menu {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    padding: 5px 0;
    margin: 15px 0;
    text-decoration: none;
}

.wrapper main .life header .header-nav .header-nav_menu:hover {
    color: #00AFDB;
    text-decoration: underline;
}

.wrapper main .life header .header-nav .active-link {
    font-weight: 500;
    text-decoration: underline;
}

.wrapper main .life .life-content {
    position: absolute;
    top: 340px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
}

.wrapper main .life .life-content .life-content_title {
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 3px;
}

.wrapper main .life .life-content .life-content_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    width: 504px;
    margin: 18px auto 31px auto;
}

.wrapper main .life .life-content .life-content_btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    width: 184px;
    height: 46px;
    margin: 0 auto;
}

.wrapper main .life .life-socialNets {
    height: 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 14.5%;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper main .life .life-socialNets .life-social_link {
    position: relative;
    padding: 25px;
}

.wrapper main .life .life-socialNets .life-social_link img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper main .life .life-socialNets .life-social_link:hover {
    animation: rotate-center 0.6s ease-in-out both;
}

.wrapper main .represent {
    width: 1082px;
    height: 842px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper main .represent .represent-content {
    width: 37%;
    padding: 0 20px;
}

.wrapper main .represent .represent-content .represent-content_title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    color: #373737;
}

.wrapper main .represent .represent-content .represent-content_text {
    margin: 0 0 30px 0;
    font-size: 14px;
    font-weight: 400;
    color: #4E4E4E;
    line-height: 140%;
}

.wrapper main .represent .represent-content .represent-content_text strong {
    color: #373737;
    font-weight: 500;
}

.wrapper main .represent .represent-content .represent-content_btn {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 15px 44px;
}

.wrapper main .community {
    width: 100%;
    height: 504px;
    background: #F5F6F7;
    padding: 0 0 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper main .community .community-content {
    width: 23%;
    margin: 0 138px 0 130px;
}

.wrapper main .community .community-content .community-content_img {
    width: 45px;
    height: 45px;
    margin: 0 auto;
    display: block;
}

.wrapper main .community .community-content .community-content_title {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #373737;
}

.wrapper main .community .community-content .community-content_text {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #4E4E4E;
}

.wrapper main .community .community-slider {
    width: 894px;
    height: 244px;
    position: relative;
}

.wrapper main .community .community-slider .community-slider_navigation {
    display: flex;
    flex-direction: row;
    width: 80px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -48px;
    right: 250px;
    color: #373737;
    font-size: 18px;
    font-weight: 500;
}

.wrapper main .community .community-slider .community-slider_navigation .slider-array-back {
    margin-right: 15px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper main .community .community-slider .community-slider_navigation .slider-array-next {
    margin-left: 15px;
}

.wrapper main .community .community-slider .community-slider_navigation .array {
    font-weight: 500;
    cursor: pointer;
}

.wrapper main .community .community-slider .community-slider_navigation .array:hover {
    font-weight: 700;
    text-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
}

.wrapper main .community .community-slider .community-slider_navigation .slider-divider {
    margin: 0 3px;
}

.wrapper main .community .community-slider .community-slider_slides {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.wrapper main .community .community-slider .community-slider_slides .community-slider-item {
    display: block;
    width: 100%;
    margin: 0 30px 0 0;
}

.wrapper main .community .community-slider .community-slider_slides .community-slider-item img {
    width: 407px;
    height: 244px;
}

.wrapper main .implement {
    width: 1082px;
    height: 842px;
    margin: 0 auto;
    padding: 0 18px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper main .implement .implement-content {
    width: 37%;
    padding: 0 118px 0 0;
}

.wrapper main .implement .implement-content .implement-content_title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #373737;
    margin: 0 0 26px 0;
}

.wrapper main .implement .implement-content .implement-content_text {
    font-size: 14px;
    font-weight: 400;
    color: #4E4E4E;
    line-height: 140%;
    margin: 0 0 34px 0;
}

.wrapper main .implement .implement-content .implement-content_text strong {
    color: #373737;
    font-weight: 500;
}

.wrapper main .implement .implement-content .implement-content_btn {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 15px 43px;
    line-height: 1;
}

.wrapper main .newsletter {
    width: 100%;
    height: 524px;
    background: url("assets/img/signBackground.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper main .newsletter .newsletter-content {
    width: 406px;
    height: 104px;
}

.wrapper main .newsletter .newsletter-content .newsletter-content_title {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

.wrapper main .newsletter .newsletter-content .newsletter-content_input {
    position: relative;
}

.wrapper main .newsletter .newsletter-content .newsletter-content_input input {
    width: 340px;
    height: 46px;
    padding: 12px 0 12px 24px;
    font-weight: 400;
    font-size: 14px;
    color: #373737;
    box-sizing: border-box;
    border: none;
}

.wrapper main .newsletter .newsletter-content .newsletter-content_input input:focus {
    outline: none;
}

.wrapper main .newsletter .newsletter-content .newsletter-content_input .newsletter-content_btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px 23px;
    cursor: pointer;
}

.wrapper main .newsletter .newsletter-content .newsletter-content_input .newsletter-content_btn:hover, .wrapper main .newsletter .newsletter-content .newsletter-content_input .newsletter-content_btn:focus {
    background: #02254a;
}

.wrapper main .newsletter .newsletter-content .newsletter-content_input .newsletter-content_btn:hover .newsletter-btn {
    animation: rotate-center 0.8s ease-in-out both;
}

.wrapper main .newsletter .newsletter-content .newsletter-content_input .newsletter-content_btn .newsletter-btn {
    width: 20px;
    height: 21px;
    color: #FFFFFF;
}

.wrapper main .download {
    width: 100%;
    height: 464px;
    background: #F5F6F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper main .download .download-content {
    width: 480px;
    box-sizing: border-box;
}

.wrapper main .download .download-content .download-content_title {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
    color: #373737;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

.wrapper main .download .download-content .download-content_text {
    font-weight: 400;
    font-size: 14px;
    color: #4E4E4E;
    text-align: center;
    margin: 0 0 30px 0;
}

.wrapper main .download .download-content .download-content_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 59px 0 0;
    box-sizing: border-box;
}

.wrapper main .download .download-content .download-content_btn .download-btn_content {
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    width: 127px;
    height: 46px;
    position: relative;
    font-weight: 700;
    font-size: 14px;
}

.wrapper main .download .download-content .download-content_btn .download-btn_content:after {
    content: "";
    position: absolute;
    top: 0;
    right: -59px;
    width: 59px;
    height: 46px;
    background: #009CC2;
}

.wrapper main .download .download-content .download-content_btn .download-btn_content img {
    width: 17px;
    height: 20px;
    position: absolute;
    top: 29%;
    right: -29%;
    z-index: 30;
}

.wrapper main .download .download-content .download-content_btn .download-btn_content:hover, .wrapper main .download .download-content .download-content_btn .download-btn_content:focus {
    cursor: pointer;
    color: #FFFFFF;
}

.wrapper main .download .download-content .download-content_btn .download-btn_content:hover img {
    animation: rotate-center 0.6s ease-in-out both;
    animation-delay: 0.7s;
    top: 29%;
    right: -29%;
}

.wrapper footer {
    background: #000000;
    width: 100%;
    height: 185px;
    padding: 0 160px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.wrapper footer .footer-nav {
    display: flex;
    flex-direction: row;
}

.wrapper footer .footer-nav .footer-nav_link {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    margin: 0 42px 0 0;
}

.wrapper footer .footer-nav .footer-nav_link:after {
    content: "";
    background: url("assets/img/mnu-items-divider.png");
    width: 1px;
    height: 8px;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}

.wrapper footer .footer-nav .footer-nav_link:nth-child(n+3):after {
    content: "";
    background: none;
    margin: 0;
}

.wrapper footer .footer-nav .footer-nav_link:nth-child(n+3) {
    margin: 0;
}

.wrapper footer .footer-nav .footer-nav_link:hover {
    color: #00AFDB;
    text-decoration: underline;
}

.wrapper footer .footer-logo {
    width: 44px;
    height: 45px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper footer .footer-logo img {
    width: 100%;
    display: block;
}

.wrapper footer .footer-privacy {
    color: #818181;
    font-size: 14px;
    font-weight: 400;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes flip-horizontal-bottom {
    0% {
        transform: rotateX(0);
    }
    50% {
        transform: rotateX(-180deg);
    }
    100% {
        transform: rotateX(0);
    }
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}